<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>International Students Connect</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylecss.css">
</head>

<body>

  <header class="headerstyle">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/navigation.ejs') %>
  </header>

  <main>
    <h3> 404 Page not Found. </h3>
  </main>
  <%- include('./partials/footer.ejs') %>

</body>

</html>
