<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>International Students Connect</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/stylecss.css">
</head>

<body>
  <header class="headerstyle">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/navigation.ejs') %>
  </header>

  <main>
    <h2>Contact Us</h2>
    <img class="intro" src="assets/images/contactus.jpg" alt="Contact us image" height="100" width="150">
    <br><br>
    <p>
      <br>
      <h3> Ravina Gaikawad </h3>
      <br> Program Coordinator
      <br> <i class="material-icons">email :</i><a href="mailto:rgaikawa@uncc.edu">rgaikawa@uncc.edu</a>
      <br> <i class="material-icons">call</i> +1-9805855799
      <p>
  </main>


  <%- include('./partials/footer.ejs') %>

</body>

</html>
