<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>International Students Connect</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/stylecss.css">
</head>

<body>

  <header class="headerstyle">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/navigation.ejs') %>
  </header>

  <main>
    <h3>International Students Connect</h3>
    <img class="index_image" src="../../assets/images/InternationalStudents.jpg" height="200" width="300" alt="Main Page International Students image">
    <br>
    <p>
      Welcome to International Students Connect!
    </p>
    <p>
      We know you are hundreds of miles away from home. We want to make you feel home with this new initiative.
      On this site you will be able to connect with students from all over the world that are part of UNC
      Charlotte.
      Various events will be organized to give you the platform to interact with students of different cultures or
      to find your own people.
      I hope we will be successful to make you feel home!
    </p>
    <p>
      Check out the connections link to find out more connections.
    </p>
  </main>
  <%- include('./partials/footer.ejs') %>

</body>

</html>
